 */
 html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }
 */
  body {
    margin: 0;
  }
  
  main {
    display: block;
  }
  

  h1 {
    background-color: blue;
    color: white;
    text-align: center;
    font-size: 2em;
    margin: 0.67em 0;
  }
  h2 {
    background-color: white;
    color: black;
    text-align: left;
    font-size: 2em;
    margin: 0.67em 0;
  }
